ion-item ion-icon {
    margin-right: 10px !important;
    margin-top: 10px;
}

span {
    vertical-align: middle;
    display: inline-block;
    width: 87%;
    color: #868686;
    line-height: 1.5;
}