<ion-router-outlet></ion-router-outlet>

<!-- <ion-tabs *ngIf="authService.menu">
    <ion-tab-bar slot="bottom" color="light">
        <ion-tab-button (click)="navigatePage('/dashboard')" routerLinkActive="active">
            <ion-icon src="/assets/icon/internet.svg"></ion-icon>
        </ion-tab-button>

        <ion-tab-button (click)="navigatePage('/search')" routerLinkActive="active">
            <ion-icon src="/assets/icon/lupa.svg"></ion-icon>
        </ion-tab-button>

        <ion-tab-button (click)="navigatePage('/account')" routerLinkActive="active">
            <ion-icon src="/assets/icon/avatar.svg"></ion-icon>
        </ion-tab-button>

        <ion-tab-button (click)="callWithNumber('+525557850232')">
            <ion-icon src="/assets/icon/call.svg"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs> -->