<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [text]="buttonText">
            </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form #form="ngForm" (ngSubmit)="recoverPass(form)">
        <ion-grid>
            <ion-row justify-content-center>
                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                    <div class="ion-text-center">
                        <img src="assets/images/logo.png" alt="" width="50%">
                        <h3>Recupere su contraseña!</h3>
                    </div>
                    <div class="ion-padding">
                        <ion-item>
                            <ion-input name="email" type="email" placeholder="email@email.com" ngModel required></ion-input>
                        </ion-item>
                    </div>
                    <div class="ion-padding">
                        <ion-button size="large" color="primary" type="submit" expand="block">Enviar</ion-button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>